body {
	font-family: Calibri, sans-serif !important;
}

label {
	font-size: 14px;
}

pre {
	border: none;
}

.center-bold {
	font-weight: bold;
	text-align: center; 
}

.grid-default {
    height: 500px;
	margin: auto;
	margin-bottom: 25px;
    width: 100%;
}

.jumbotron {
	background-color: #7B1600;
	color: #FFFFFF;
}

.login {
	font-size: 26px;
}

.modal-view-header {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: -10px;
	margin-top: -10px;
}

.modal-section-header {
	font-size: 20px;
	font-weight: bold;
	margin-top: -10px;	
}

.modal-textarea {
	font-size: 12px !important;
	height: 100%;
	margin-top: -25px;
	margin-bottom: -45px !important;
}

.version {
	margin-left: 15px;
	margin-top: -20px;
}

.viewport-footer {
	color: grey;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}