<div class="container">
  <div class="jumbotron">
  
    <h1>Document Engine</h1>
    
    <p class="version">Prototype</p>
    
<!--     <a class="btn btn-default btn-lg" role="button" -->
<!--       href="#/create-a-document">Create A Document</a> -->
       
    <a class="btn btn-default btn-lg" role="button"
      href="#/document-central">Document Central</a>
       
    <a class="btn btn-default btn-lg" role="button" 
      href="#/content-repository">Content Template Repository</a>
      
    <a class="btn btn-default btn-lg" role="button" 
      href="#/token-dictionary">Token Dictionary</a>
      
    <a class="btn btn-default btn-lg" role="button"
      href="#/" ng-click="logout()">Logout</a>
  </div>
</div>
<!-- <div class="container" ng-show="!authenticated">
  <div class="jumbotron">
    <h1>Please Login</h1>
    
    <div ng-show="error" class="alert alert-danger">    
      Invalid user name and password.
    </div>

    <form role="form" ng-submit="login()" editable-form name="loginForm" novalidate>               

      <div class="form-group">
        <label for="username" class="control-label">User name:</label>
        <input id="username" class="form-control input-normal" type="text" name="username" ng-model="credentials.username" required />
      </div>

      <div class="form-group">
        <label for="password" class="control-label">Password:</label>
        <input id="password" class="form-control input-normal" type="password" name="password" ng-model="credentials.password" required />
      </div>

      <div class="pull-right form-group">
        <button type="submit" class="btn btn-default btn-lg">Submit</button>
      </div>
  
    </form>
  </div> -->
</div>