body {
	font-family: Calibri, sans-serif !important;
	padding-bottom: 25px;
	padding-top: 50px;
}

label {
	padding-top: 15px;
	font-size: 18px !important;
}

pre {
	border: none;
	margin-bottom: -10px;
	margin-top: -10px;
	padding-left: 0px;
	padding-right: 0px;
}

.cloak {
	display: none !important;
}

.center-bold {
	font-weight: bold;
	text-align: center; 
}

.grid-default {
    height: 500px;
	margin: auto;
	margin-bottom: 25px;
    width: 100%;
}

.login {
	font-size: 26px;
}

.modal {
	display: block;
}

.modal-view-header {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: -10px;
	margin-top: -15px;
}

.version {
	margin-left: 15px;
	margin-top: -20px;
}

.viewport-footer {
	color: grey;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}