h2 {
	font-family: Calibri;
	font-size: 12px;
	line-height: 100%;
	margin-bottom: 8px;
	margin-top: 12px;
}

.blue-text {
	font-weight: bold;
	color: blue;
}

.group {
	keep-together: yes;
	margin-bottom: -10px;
}