body, h1 {
	font-family: Calibri;
	font-size: 8pt;
	line-height: 120%;
}

h1 {
	font-size: 14px;
	font-weight: bold;
	line-height: 100%;
}

hr {
	height: 2px;
	display: block;
	color: black;
	background-color: black;
}

.blue-text {
	font-weight: bold;
	color: blue;
}

.break {
	page-break-before: always;
}